.consultants {
  .service_item {
    text-align: center;
    figure {
      img {
        height: 100px;
        width: 100px !important;
        margin: 0 auto;
        border-radius: 100px;
        object-fit: cover;
      }
    }
  }
}
.single_page {
  background-color: #eee;
  .hero {
    background-position: -30% 100% !important;
    background-size: cover !important;
  }
}

.text {
  @include phone {
    padding: 30px 0;
  }
}
