.consultants {
  .service_item {
    text-align: center;
    figure {
      img {
        height: 100px;
        width: 100px !important;
        margin: 0 auto;
        border-radius: 100px;
        object-fit: cover;
      }
    }
  }
}
.single_page {
  background-color: #eee;
  .hero {
    background-image: none;
    background-position: 140% 100%;
    background-size: contain;
  }
}
