footer {
  .upper {
    .logoarea {
      img {
        @include phone {
          margin-bottom: 30px;
        }
      }
    }
    img {
      max-width: 150px;
    }
    a {
      color: #6c757d;
      &:hover {
        color: $p;
      }
    }
  }
}
