* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none;
  padding: 0 !important;
}
body {
  color: #000;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}
.text_dim {
  color: rgb(143, 143, 143);
}
.subtitle {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
.btn_p {
  background-color: $p;
  color: #fff;
  text-transform: capitalize;
  border-radius: 100px;
  position: relative;
  border: none;
  transition: all 0.3s ease-in-out;
  &:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }

  &:hover {
    color: #fff;
    padding-left: 25px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2) !important;

    &::before {
      background-color: $p;
    }
  }
}
.btn_icon {
  letter-spacing: 0px;
  font-weight: 700;
  padding: 8px 20px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    z-index: -1;
    border-radius: 100px;
    height: 100%;
    background-color: $s;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
  i {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
  }
}

.owl-carousel {
  position: relative;
  .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
    z-index: 1;
    background-color: $a !important;
    border-radius: 100px;
    height: 50px !important;
    color: #fff !important;
    width: 50px !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    @include phone {
      left: -7px !important;
      height: 30px !important;
      width: 30px !important;
      font-size: 16px !important;
    }
  }
  .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
    z-index: 1;
    background-color: $a !important;
    border-radius: 100px;
    height: 50px !important;
    color: #fff !important;
    width: 50px !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    @include phone {
      right: -7px !important;
      height: 30px !important;
      width: 30px !important;
      font-size: 16px !important;
    }
  }
}

.gap {
  gap: 10px;
}

#map {
  height: 300px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.bg_gray {
  background-color: #fff;
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}

::selection {
  background-color: $p;
  color: #fff;
}

.btn {
  &:focus {
    box-shadow: none;
  }
}

.btn-default {
  border-radius: 100px;
  &:hover {
    background-color: #eee;
  }
}
.text_p {
  color: $p;
}
